@font-face {
    font-family: 'Bebas Neue Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Bebas Neue Bold'), url('fonts/BEBASNEUE BOLD.woff') format('woff');
}

@font-face {font-family: "Proxima Nova";
    src: url("//db.onlinewebfonts.com/t/ac51ad8a36d5bab6da11d454bcd06561.eot");
    src: url("//db.onlinewebfonts.com/t/ac51ad8a36d5bab6da11d454bcd06561.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/ac51ad8a36d5bab6da11d454bcd06561.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/ac51ad8a36d5bab6da11d454bcd06561.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/ac51ad8a36d5bab6da11d454bcd06561.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/ac51ad8a36d5bab6da11d454bcd06561.svg#Proxima Nova") format("svg");
}

body{
    font-family: Proxima Nova, sans-serif;
    font-size: 1em;
}

body {
    background-color: #1b1b1b;
    border: 0;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
}

h2{
    font-size: 1.5em;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    margin: 0;
    padding: 1rem 5rem;
    background-color: #252424;

    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

#logo {
    margin-top: 0;
}

#logo > img {

    height: inherit;
    max-height: 40px;
}

nav {
    padding-left: 0;
    padding-right: inherit;
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    right: 0;
    list-style: none;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

nav a:link, nav a:visited {
    color: #fff;
    padding: 10px 25px;
}

nav a:hover, nav a:active,
nav .active a:link, nav .active a:visited {
    background-color: #f46c0f;
    text-shadow: none;
}

nav a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

nav > ul {
    display: flex;
}

nav > ul > * {
    display: flex;
    position: relative;
}

#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    /*background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;*/
    background-size: cover;
    transition: 1s opacity;
}

#midContent {
    padding: 10% 25% 5% 10%;
    display: block;
}

h2 {
    margin: 0;
    color: #f46c0f;
    font-size: 5em;
    font-weight: 400;
    font-family: Bebas Neue Bold, Helvetica, Arial, Verdana, sans-serif;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;

}

#button a, #button a:visited {
    color: #fff;
    outline: 0;
    transition: color 250ms ease-out 0s;
}

#button {
    opacity: 1;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    padding: 0 13px 0 25px;
    height: 60px;
    position: relative;
    font-size: .75em;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 2px solid #FFF;
    color: #fff;
}

#button:hover {
    color: #000;
}

#button > div {
    width: 100%;
    height: 100%;
    transform: translateY(+50%);
    line-height: 0;
}

#button::before {
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 0;
    content: ' ';
    z-index: -1;
    transition: all 250ms ease-in 0s;
}

#button:hover::before {
    width: 100%;
    transition: all 250ms ease-out 0s;
}

/*
section{
    
    display: inline;
    float: left;
    width: 70%;
}

article{
    background: #fff;
    padding: 3% 5%;
    margin-top: 2%;
    	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

aside{
    background: #fff;
    display: inline;
    float: right;
    width: 21%;
    padding: 2% 3%;
    margin: 2% 0 2% 3%;
    	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
*/

footer {
    width: 100%;
    height: 40px;
    text-align: center;
    background: -webkit-linear-gradient(left, #313131 , #464646);
    background: -o-linear-gradient(right, #313131 , #464646);
    background: -moz-linear-gradient(right, #313131 , #464646);
    background: linear-gradient(to right, #313131 , #464646);background-color: #252424;
    margin: 0 ;
    padding: 0 auto;
    bottom: 0;
    left: 0;
    position: fixed;
}

footer p {
    /*padding-left: 10px;*/
    line-height: 40px;
    color: #fff;
    margin: 0 ;
    font-size: .7em;
}

#dropdownContent {
    display: none;
    position: absolute;
    background-color: #252424;
    top: 100%;
    right: 0;
    padding: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#dropdown:hover #dropdownContent {
    display: block;
}

#dropdownContent li {
    position: relative;
    text-align: center;
    display: block;
}

#dropdownContent li a {
    display: block;
    position: relative;
    text-align: left;
    white-space: nowrap;
}

#dropdownContent li a:hover #dropdownContent > a {
    background-color: #f46c0f;
}

#company{
    animation-name: Animation;
    animation-duration: 2s ;
    animation-iteration-count: infinite;
}

@keyframes Animation {
    from {color: #f46c0f;}
    to {color: #fff;}
}

@media screen and (max-width: 650px) {

    header{
        position: relative;
        display: block;
        padding: 0;
    }
    #logo{
        width: 100%;
        float: none;
        display: block;
        height: 10vh;
        text-align: center;
    }

    #logo >img{
        padding-top: 10px;
        padding-bottom: auto;
    }

   

    nav{
        float: none;
        display: block;
    }

    nav ul{
        padding-left: 0;
        display: block;
        float: none;
        position: relative;
        width: 100vw;
        background-color: #313131;
    }

     nav ul li{
        width: 100%;
        text-align: center;
    }
     nav a:link,  nav a:visited {
        padding: 10px 25px;
        height: 20px;
        display: block;
    }

    nav > ul > * {
        display: block;
        position: relative;
    }

     #dropdownContent{
         z-index: 3;
     }

     #dropdownContent li a{
         text-align: center;
     }

     #midContent{
         margin-top: 25%;
     }

    footer{
        position: relative;
    }
}